.card {
    border-style: solid;
    border-color: #18c1ee;
    border-width: 5px;
    flex-basis: 10%;
}

.DayOfWeek {
    font-size: 40px;
    text-align: center;
    border-top-style: solid;
    border-top-color: #18c1ee;
    border-bottom-style: solid;
    border-bottom-color: #18c1ee;
    padding: 10px;
}

.breakfast, .lunch, .dinner {
    border-bottom-style: solid;
    border-bottom-color: #18c1ee;
}

.label {
    color: #18c1ee;
    font-size: 25px;
    text-align: left;
    position: relative;
    top: -25px;
    left: 5px;
}

