.day-of-week-card {
    border-style: solid;
    border-color: #18c1ee;
    border-width: 5px;
    flex-basis: 10%;
}

.day-of-week {
    font-size: 40px;
    text-align: center;
    border-top-style: solid;
    border-top-color: #18c1ee;
    border-bottom-style: solid;
    border-bottom-color: #18c1ee;
    padding: 10px;
}
