.label {
  color: #18c1ee;
  font-size: 25px;
  text-align: left;
  padding: 5px;
  height: 165px;
}

.meal-container {
  border-bottom-style: solid;
  border-bottom-color: #18c1ee;
  height: 175px;
}

.add-food-button-container {
  text-align: center;
}

.meal-card-button {
  text-align: center;
  font-size: 15px;
  display: inline-block;
  padding: 2px;
}

.meal-card-button:hover {
  border: 1px solid #18c1ee;
  padding: 1px;
}

.meal-card-food {
  color: black;
  font-size: 20px;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

p {
  margin: 10px;
}