@font-face {
  font-family: "Proxima Nova";
  src: url("/static/ProximaNova-reg-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/static/ProximaNova-Sbold-webfont.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/static/ProximaNova-Xbold-webfont.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: Proxima Nova, sans-serif;
}